<div id="vitamins" class='transitions-enabled'>
  <% @vitamins.each do |vitamin| %>
    <div class="box panel panel-default">
        <%= image_tag vitamin.image.url(:medium)%> 
          <div class='panel-body'>
          <%= vitamin.description %>
          <%= vitamin.user.email if vitamin.user %>
          <%= link_to 'Show', vitamin %>
          <% if vitamin.user == current_user %>
              <%= link_to 'Edit', edit_vitamin_path(vitamin) %>
              <%= link_to 'Destroy', vitamin, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
      </div>  
    </div>
  <% end %>
</div>