  <%= form_for @vitamin, html: {multipart: true} do |f| %>
    <% if @vitamin.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@vitamin.errors.count, "error") %> prohibited this vitamin from being saved:</h2>

        <ul>
        <% @vitamin.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="form-group">
      <%= f.label :image %><br>
      <%= f.file_field :image, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_field :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
