<%= link_to 'Back', vitamins_path %>


<div class-"row">
	<div class="col-md-offset-2 col-md-8">
		<div class = "panel panel-default ">
			<div class="panel-heading text-center">
				<%= image_tag @vitamin.image.url(:medium) %>
			</div>
			<div class='panel-body'>
				<p>
				  <%= @vitamin.description %>
				</p>
				 <p><strong><%= @vitamin.user.name if @vitamin.user %> </strong></p>

				<% if @vitamin.user == current_user %>
					 <%= link_to edit_vitamin_path(@vitamin) do %>
		                  <span class = "glyphicon glyphicon-edit"> </span>
		             <% end %>
		             <%= link_to @vitamin, method: :delete, data: { confirm: 'Are you sure?' } do%>
		                  <span class = "glyphicon glyphicon-trash"> </span>
		             <% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>