<%= simple_form_for @post, html: {multipart: true, onsubmit: "getContent();"} do |f| %>
        <%= f.error_notification %>

        <%= f.hidden_field :writing, id:"my-textarea", html_safe: true %>

      <div class="form-group">
            <% f.label :seed_id %><br>
            <%= f.hidden_field :seed_id, value: @seed.id, class: "form-control" %>
          </div>


          <div class="form-group alignright">
              <%= f.button :submit , class: "btn btn-default btn-lg"%>
          </div>
         
     <% end %>
     <br>
     <br>

    <section>
      <h1 contenteditable="false">
        <%= @seed.prompt %>
      </h1>
      
      <article placeholder= "Type here." contenteditable="true" class="content courier" id="my-content" ></article>