<%# render 'pages/home' unless user_signed_in? %>
 

<div class="container">


  <h1>Write About_</h1>
  <h2>Inspire and be inspired. </h2>
  <hr>
      <% @seeds.each do |seed| %>
          <h3> <%= link_to seed.prompt, seeded_url(:seed => seed.prompt) %></h3> 


            <% if seed.user == current_user %>
                <%= link_to '+', seed %>
                <%= link_to edit_seed_path(seed) do%>
                  <span class="glyphicon glyphicon-edit"></span>
                <% end %>
                <%= link_to  seed, method: :delete, data: { confirm: 'Are you sure?' } do%>  
                  <span class="glyphicon glyphicon-trash"></span>

                <% end %>
              <% end %>
        
              <span class = "alignright" >
                        <%= link_to "#{seed.posts.count} ideas shared", seed %>
              </span>

      <% end %>


  <br></br>

  <h3><%= link_to ' + New Seed', new_seed_path %></h3>

</div>