<div class="container">

		<p id="notice"><%= notice %></p>

		<p>
		  <h1><%= @seed.prompt %></h1>
		</p>


		  <%= form_for @post, html: {multipart: true} do |f| %>
		    <% if @post.errors.any? %>
		      <div id="error_explanation">
		        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

		        <ul>
		        <% @post.errors.full_messages.each do |msg| %>
		          <li><%= msg %></li>
		        <% end %>
		        </ul>
		      </div>
		    <% end %>



		      <%= f.text_area :writing, value: "Type here.", class: "write-form" %>
		


		      <div class="form-group">
		      <% f.label :seed_id %><br>
		      <%= f.hidden_field :seed_id, value: @seed.id, class: "form-control" %>
		    </div>


		    <div class="form-group">
		      <%= f.submit class: "btn btn-primary" %>
		    </div>


		     
		  <% end %>

		  <br>

	<div id="posts" class="transitions-enabled">
        <% @posts.each do |post| %>
            <%# link_to image_tag(post.image.url(:medium)), post %>
              <p><h3 class="courier"><%= post.writing %></h3></p>
              <strong><%= post.user.name if post.user %></strong>
                            
              <% if post.user == current_user %>
                  <%= link_to edit_post_path(post) do %>
                    Edit
                  <% end %>
                  <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <span class="glyphicon glyphicon-trash"></span>
                    
                  <% end %>
           
              <% end %>

              <%= link_to "Like", like_post_path(post, method: :put) %>
				<%= post.votes.size %>

        <% end %>
      </div>


</div>