  <%= form_for @post, html: {multipart: true} do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="form-group">
      <%= f.label :image %><br>
      <%= f.file_field :image, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_field :description, class: "form-control" %>
    </div>

      <div class="form-group">
      <%= f.label :writing %><br>
      <%= f.text_area :writing, class: "form-control" %>
    </div>

    <div class ="form-group">
      <%= f.label :tags %>
      <%= f.text_field :tag_list %>
    </div>

    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
    </div>


      <script>
                new Medium({
                     element: document.getElementById('article'),
              mode: 'rich',
                placeholder: 'Your Article'
                });
            </script>
  <% end %>
