  <%= form_for @post, html: {multipart: true} do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="form-group">
      <%= f.label :image %><br>
      <%= f.file_field :image, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_field :description, class: "form-control" %>
    </div>

      <div class="form-group">
      <%= f.label :writing %><br>
      <%= f.text_area :writing, class: "form-control" %>
    </div>

    <%# f.text_field @post.seeds, value: seed, disabled: true %>
    <%# f.text_field @seed.prompt%>

    <%#f.fields_for :seeds do |e| %>
      <%# e.label :prompt, "Prompt" %>
      <%# e.text_field :prompt %>
    <%# end %>

      <div class="form-group">
      <%= f.label :seed_id %><br>
      <%= f.text_area :seed_id, class: "form-control" %>
    </div>


    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
    </div>


     
  <% end %>

  <%# form_for @seed, html: {multipart: true} do |f| %>
<!-- 
    <div class ="form-group">
      <%# f.label :seeds %>
      <%# f.text_field :seed_list, value: @seed.prompt, disabled: true %>
    </div>

    <div class="form-group">
      <%# f.submit class: "btn btn-primary" %>
    </div> -->
<%# end %>