

    <div id="posts">
      <% @posts.each do |post| %>
          <%# link_to image_tag(post.image.url(:medium)), post %>
            <p><h3 class ="courier"><%= post.writing %></h3></p>
            <p><strong><%= post.user.name if post.user %></strong></p>
            <p><%= post.seed if post.seed %> </p>
            
            <% if post.user == current_user %>
            
                <%= link_to post do %>
                  Show
                <% end %>

                <%= link_to edit_post_path(post) do %>
                  <span class="glyphicon glyphicon-edit"></span>
                  Edit
                <% end %>
                <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="glyphicon glyphicon-trash"></span>
                  Delete
                <% end %>
           
            <% end %>
            
    
      <% end %>
    </div>


  <div class= "text-center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div>