<%# render 'pages/home' unless user_signed_in? %>

<div class = "container"> 
  <h1><%= @seed %></h1>


        <% @posts.each do |post| %>
      
              <article class = "courier"><%= simple_format(post.writing) %></article>
            <div class="actionbar">

              <strong><%= post.user.name if post.user %></strong>
              


              <% if post.user == current_user %>
               
                  <%= link_to edit_post_path(post) do %>
                    Edit
                  <% end %>
                  <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <span class="glyphicon glyphicon-trash"></span>
                    
                  <% end %>
                  
              <% end %>
        
                  <% if user_signed_in? && current_user.voted_up_on?(post)==false %>
                    <%= link_to "Like", like_post_path(post, method: :put) %>
                    <%= post.likes.size %>
                  <% elsif user_signed_in?%>
                    <%= link_to "Dislike", dislike_post_path(post, method: :put) %>
                    <%= post.likes.size %>
                  <% else %>
                    <%= link_to "Like", new_user_registration_path %>
                    <%= post.likes.size %>
                  <% end %>
              </div>
        <% end %>



    <div class= "text-center">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %></div>
  </div>

</div>